{% load static %}
<header class="header-bar">
  <div class="container header-container">
    <div class="logo">
      <img src="{% static 'images/logo.png' %}" />
    </div>
    <nav class="nav-bar">
      <ul class="menu">
        <li><a href="{% url 'home' %}">Dashboard</a></li>
        <li><a href="{% url 'calendar' %}">Calendar</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'tasks' %}">Tasks</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <!-- <li><a href="{% url 'admin_page' %}"><i class="fa-solid fa-lock"></i> Admin</a></li>
        <li><a href="{% url 'admin_page' %}"><i class="fa-solid fa-bell"></i></a></li> -->

        {% if user.is_staff %}
        <form method="post" action="{% url 'admin_page' %}">
          {% csrf_token %}
          <button type="submit"><i class="fa-solid fa-lock"></i> Admin</button>
        </form>
        {% endif %}

        {% if user.is_authenticated %}
        <form method="post" action="{% url 'log_out' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
        {% endif %}

      </ul>
    </nav>
  </div>
</header>