{% load static %}
<header class="header-bar">
  <div class="container header-container">
    <div class="logo">
      <img src="{% static 'images/logo.png' %}" />
    </div>
    <nav class="nav-bar">
      <ul class="menu">
        {% if user.is_authenticated %}
        {% csrf_token %}
        <li><a href="{% url 'home' %}">Dashboard</a></li>
        <li><a href="{% url 'calendar' %}">Calendar</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'tasks' %}">Tasks</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        {% endif %}

        {% if user.is_staff %}
        {% csrf_token %}
        <li><a href="{% url 'admin_page' %}"><i class="fa-solid fa-lock"></i> Admin</a></li>
        {% endif %}

        {% if user.is_authenticated %}
        {% csrf_token %}
        <li><a href="{% url 'log_out' %}">Logout</a></li>
        {% endif %}

      </ul>
    </nav>
  </div>
</header>